/******* BODY **********/

body {
    font-size: 18px;
    background-color: white;
}
.card-title {
    font-family: 'Lobster Two', cursive;
    font-weight: 400;
    color: white;
}

.card-header {
    background-color: #6b053b;
}
.container {
    margin-bottom: 30px;
}

.card {
    border: none;
}

img {
    border-radius: 3%;
}
/******* HEADER *******/

ul {
    list-style-type: none;
    padding-left:0;
}
li.navbar-li {
    display:inline-block;
    margin-left: 20px;
}

.navbar-link {
    color: #6b053b;
    font-family: 'Tinos', cursive;
    font-size: 25px;
}

.navbar {
    float:right;
}

.header-title {
    float:left; 
}

header{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    height: 200px;

}

h1 {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    color: #6b053b;
}

/**** ABOUT ME *****/

#profile{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#about-me-float {
    padding-left: 10px;
}

ol{
    list-style-type: none;
    text-align: center;
}

ol span {
    text-decoration-line: underline;
    font-family: 'Sofia';
    font-size: 22px;
    color: #6b053b;
}
/***** BACKGROUND ****/
.experience {
    margin-left:0;
    display: block;
}

.row-bg {
    padding-bottom: 10px;
    border-bottom: 1px solid plum;
}
#row-bg-last {
    border:none;
}
.card-body {
    padding-bottom: 0;
}

.col-bg {
    margin-top: auto;
    margin-bottom: auto;
}
/***** PROJECTS *****/

.title-row {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid plum;
}

h6 {
    font-size: 18px;
}

/***** HOBBIES *****/
.hobbies {
    width: 200px;
    height: 150px;
    margin: 10px;
}

.hobbies-card {
    text-align: center;
}

/***** FOOTER *****/

footer {
    background-color: #6b053b;
    text-align: center;
    font-family: 'Sofia', cursive;
    margin-bottom: 10px;
    color: white;
}
