/******* BODY **********/

body {
    font-size: 18px;
    background-color: white;
    font-family: 'Muli', sans-serif;
}
.card-title {
    font-family: 'Bungee Shade', cursive;
    font-weight: 400;
    color:#6b053b;
    text-align: center;
}

.container {
    margin-bottom: 30px;
}

.card {
    border: none;
    margin-bottom: 20px;
    background-color: transparent;
    height: 100vh;
}

.card-body {
    opacity: 1;
}
/******* HEADER *******/

ul {
    list-style-type: none;
    padding-left:0;
}
li.navbar-li {
    display:inline-block;
    margin-left: 20px;
    
}

.navbar-link {
    color:#6b053b;
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
}

a:hover {
    text-decoration: none;
    color:#6b053b;
}
.navbar {
    float:right;
}

.header-title {
    float:left; 
}

header{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    height: 5vh;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-weight: 700;
    color: #6b053b;
    font-size: 45px;
}

hr.style {
	border-top: 3px double #8c8b8b;
}
#secondLine {
    width: 50%;
}

.header-container {
    height: 100vh;
}
/**** ABOUT ME *****/

#profile{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#about-me-float {
    padding-left: 10px;
}

ol{
    list-style-type: none;
    text-align: center;
}

ol span {
    text-decoration-line: underline;
    font-family: 'Sofia';
    font-size: 22px;
    color: #6b053b;
}
/***** BACKGROUND ****/
.experience {
    margin-left:0;
    display: block;
}

.row-bg {
    padding-bottom: 10px;
    border-bottom: 1px solid plum;
}
#row-bg-last {
    border:none;
}
.card-body {
    padding-bottom: 0;
}

.col-bg {
    margin-top: auto;
    margin-bottom: auto;
}

/***** PROJECTS *****/

.title-row {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid plum;
}

h6 {
    font-size: 18px;
}

/***** HOBBIES *****/
.hobbies {
    width: 200px;
    height: 150px;
    margin: 10px;
}

.hobbies-card {
    text-align: center;
}

/***** FOOTER *****/

footer {
    background-color: #7c3f5f;
    text-align: center;
    font-family: 'Sofia', cursive;
    margin-bottom: 10px;
    color: white;
}

/***** BACKGROUND ANIMATION *****/
body {
	width: 100wh;
	height: 100%;
	background: linear-gradient(-70deg, #ffffff, #f7cde5, #a1f5ba);
	background-size: 500% 500%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 5s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 20% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


/**** CONTACT FORM *****/

#contact {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* CAROUSEL  */

.carousel-img {
    width: auto;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3vh;
}
.carousel-container{
    width: 70%;
    margin-bottom: 5vh;
}

/* SPLASH SCREEN */
 #splashscreen {
    background-color: transparent;
    height: 100vh;
    padding-top: 30vh;
    text-align: center;
 }


 #enterArrow {
     margin-left: auto;
     margin-right: auto;
 }


.title-splash {
    font-family: 'Bungee Shade', cursive;
	background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	font-size: 100px;
	line-height: 1;
    margin: 0 0;
    letter-spacing: 2px;
    height: 30vh;
}

.ml11 {
    font-weight: 600;
    font-size: 3.5em;
    font-family: 'Black Ops One', cursive;
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
    
  }

  .enter_link {
    background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
	background-size: cover;
    color: transparent;
    color: white;
    width: 12vw;
    height: 4vw;
    font-family: 'Black Ops One', cursive;
  }

  .raise:hover,
  .raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}